$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);

ul.drag-list, ul.drag-inner-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drag-container {
    min-height: 90vh;
    max-width: 90vw;
    margin: 20px auto;
}

.drag-list {
    display: flex;
    align-items: flex-start;

    @media (max-width: 690px) {
        display: block;
    }
}

.drag-column {
    flex: 1;
    margin: 0 10px;
    background: rgba(white, 0.9);
    overflow: hidden;

    @media (max-width: 690px) {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 0.8rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.drag-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.drag-inner-list {
    min-height: 50px;
    color: #555;
}

.drag-item:hover{
    background-color: rgb(255,255,255) !important;
}

.drag-item-leave{
    transition:all ease 2s;
}

.drag-item {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    min-height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    // background: rgba(white, 0.8);
    transition: $ease-out;

    &.is-moving {
        position: absolute;
        transform: scale(1.2);
        background: rgba(white, 0.8);
    }

}


.drag-header-more {
    cursor: pointer;
}

.drag-options {
    position: absolute;
    top: 44px;
    left: 0;
    // width: 100%;
    // height: 100%;
    padding: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: $ease-out;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &-label {
        display: block;
        margin: 0 0 5px 0;

        input {
            opacity: 0.6;
        }

        span {
            display: inline-block;
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 5px;
        }
    }
}

/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
    list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

.vue-simple-progress{
    z-index: 5 !important;
}

.kb-card-title{
    font-size: 20px !important;
    font-weight: 500;
    position: relative;
}

.kb-card-worker{
    font-size: 14px;
    text-align: left;
}

.kb-icon{
    height: 14px;
    position: relative;
    top:3px;
}

.kb-card-content{
    font-size: 14px;
    text-align: left;
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow:hidden;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
}

.kb-card-progress{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.kb-card-dead-time{
    height: 12px;
    font-size: 12px;
    color:red;
}

.kb-card-dead-time-icon{
    height: 12px;
    position: relative;
}

.kb-icon-title-edit{
    right: 5% !important;
    top:0;
    position: absolute;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    border-radius: 13px;
}

.margin10{
    margin-left: 10px;
}

.left{
    text-align: left;
}
.kb-todo{
    margin: 5px 0;
    padding-left: 35px ;
}
.kb-todo-content{
    color:#999;
    font-weight: 600;
    font-size: 14px;
    list-style:decimal;
}

.kb-card-more{
    position: relative;
    text-align: left;
    display: flex;
}

.kb-img-container{
    background-color: #fff;
    text-align: center;
}

.kb-img{
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;
}

.kb-img:hover{
    opacity: .9;
}

.kb-tag{
    background-color: rgb(51, 163, 220);
    color:#fff;
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 5px;
    text-align: center;
}

.kb-tags{
    font-size: 14px;
    margin: 5px 2px;
}

.kb-links{
    width: 30%;
    text-align: right;
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //溢出用省略号显示
    white-space:nowrap; //溢出不换行
    position: absolute;
    right:2%;
    top:0%;
}

.kb-link{
    margin-left: 6px;
}

a{
    color:unset;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}